*{
    font-family: 'Hind', sans-serif;
}
.main{
    margin:3vh auto;
    box-sizing: border-box;
    padding: 0;
    height: fit-content;
    width: 45vw;
    border: 1px solid rgba(204, 204, 204,0.5);
}
h2{
    margin: 0px;
    padding: 10px;   
    font-size: 2rem;
    border: 1px solid rgba(204, 204, 204,0.5);
}
.img{
    box-sizing: border-box;
    /* border: 2px solid red; */
    height:42vh;
    width: 100%;
    /* background-color: rgba(204, 204, 204,0.3); */
    /* background-color: rgba(244, 150, 43 , 0.15); */
    /* box-shadow: inset 1em 1em gold , inset -1em -1em orange; */
    /* box-shadow: inset 1em 1em 50px gold , inset -1em -1em 50px red; */
    /* box-shadow: inset 1em 1em 50px white , inset -1em -1em 50px white; */
}
#racket{
    position: relative;
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    margin:auto;
    z-index: -5;
    /* filter: blur(1px); */
    /* box-shadow:inset 10px 10px 50px black; */
}
select{
    width: 4vw;
    border-radius: 15px;
    padding: 5px;
}
h4{
    font-weight: 300;
}
h1,h3,h4{
    margin: 20px;
}
h1{
    font-size: 3rem;
}
.btns{
    margin: 20px 0;
    display: flex;
}
#p1, #p2, #reset{
    padding: 15px 10px;
    /* width: 10vw; */
    width: 33.33%;
    margin: auto 1px;
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
    border: 0px;
}
#p1{
    /* background-color: rgb(0, 163, 0); */
    background-color: hsl(141, 71%, 48%);
}
#p2{
    /* background-color: rgb(26, 26, 253); */
    background-color: hsl(204, 86%, 53%);
}
#reset{
    /* background-color: tomato; */
    background-color: hsl(348, 100%, 61%);
}
#score{
    font-family: 'Roboto Mono', monospace;
}
.green{
    color: green;
}
.red{
    color: red;
}
.grey{
    background-color: grey !important;
}
@media only screen and (max-width: 800px) {
    .main{
        margin: 5vh auto;
        height: fit-content;
        width: 90vw;
    }
    .img{
        height: fit-content;
        box-shadow: none;
    }
    #racket{
        z-index: 22;
    }
    select{
        width:12vw;
        margin-left: 5px;
        border-radius: 15px;
    }
    h4{
        margin: 20px 0;
        font-weight: 300;
    }
    #p1, #p2, #reset{
        padding: 5px 10px;
        width: 30vw;
        height: 10vh;
    }
}